---
import * as CONTENT from "../pages/content";
import AccordionLayout from "../layouts/AccordionLayout.astro";
import Card from "./Card.astro";
---

<!-- container.astro -->
<ul class="shadow-box">
  <AccordionLayout title={"About"} icon={"mdi:account-badge-outline"}>
    <p class="text-justify" set:html={CONTENT.about.paragraph1} />
    <p class="text-justify mt-4" set:html={CONTENT.about.paragraph2} />
    <p class="text-justify mt-4" set:html={CONTENT.about.paragraph3} />
    <p class="text-justify mt-4" set:html={CONTENT.about.paragraph4} />
  </AccordionLayout>

  <AccordionLayout title={"Projects"} icon={"ion:md-build"}>
    {
      CONTENT.projects.map((item) => {
        return (
          <Card
            title={item.title}
            timeframe={item.timeframe}
            Modifiez
            cette
            ligne
            description={item.description}
            tags={item.tech}
            url={item.url}
            url_name={"Open Project"}
            showIcon={item.showIcon}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Work"} icon={"ic:baseline-work-outline"}>
    {
      CONTENT.work.map((item) => {
        return (
          <Card
            title={item.role}
            timeframe={`${item.from} - ${item.to}`}
            description={item.location}
            tags={item.skills}
            url_name={item.org}
            showIcon={item.showIcon}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Education"} icon={"carbon:education"}>
    {
      CONTENT.education.map((item) => {
        return (
          <Card
            title={item.course}
            timeframe={item.from ? `${item.from} - ${item.to}` : `${item.to}`}
            description={item.location}
            tags={""}
            url_name={item.institute}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Hard Skills"} icon={"mdi:trophy-award"}>
    <p>{CONTENT.hardSkills.text}</p>
  </AccordionLayout>

  <AccordionLayout title={"Soft Skills"} icon={"mdi:trophy-award"}>
    <p>{CONTENT.softSkills.text}</p>
  </AccordionLayout>

  <AccordionLayout title={"Contact"} icon={"ri:contacts-book-fill"}>
    {
      CONTENT.contact.map((item) => {
        return (
          <Card
            title={""}
            url={item.source}
            url_name={item.source_name}
            showIcon={item.showIcon}
          />
        );
      })
    }
  </AccordionLayout>
</ul>
